.Articles{
    text-align: center;
    position: relative;
    width: 100%;

}
.Articles::before{
    background: url('../articles/image.png');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    opacity: 0.5;
    position:absolute;
    inset: 0;
    content: '';
   
}
