.Header .active{
    color: rgb(243, 68, 161) !important;
}

.Header ul{
    background-image: linear-gradient(to right, #EF6DA0,#fbced4); 
    color: #fff;
    margin: 2px;

}
.Header img{
    position: absolute;
    left: 0%;
    padding: 4px;
   
}

.Header .nav-link:hover{
    color: rgb(227, 7, 161);
    transform: scale(1.2);
    cursor: pointer;
    /* transition-duration: .5s; */

}
.Header .nav-link{
    position: relative;
}
.Header .nav-link:hover::before{
    width: 60px;
}
.Header .a{
    all:unset

}
